{
  "$schema": "https://www.krakend.io/schema/krakend.json",
  "version": 3,
  "name": "KrakenD Enterprise AI Gateway",
  "port": 8080,
  "timeout": "60000ms",
  "endpoints": [
    {
      "endpoint": "/",
      "method": "POST",
      "input_headers": [
        "Content-Type",
        "X-Position",
        "X-Name",
        "X-Roles",
        "X-User-Id",
        "X-Locale"
      ],
      "backend": [
        {{ template "generate.backend.gemini.tmpl" "req_headers['X-Position'][0] == 'developer'" }},
        {{ template "generate.backend.openai.tmpl" "req_headers['X-Position'][0] == 'support'" }}
      ],
      "extra_config": {
        "governance/quota": {
          "quota_name": "llm",
          "tier_key": "X-Roles",
          "weight_key": "usage",
          "weight_strategy": "body",
          "tiers": [
            {
              "tier_value": "value.matches('admin')",
              "tier_value_as": "policy",
              "rule_name": "poweruser",
              "key": "X-User-Id",
              "strategy": "header"
            },
            {
              "tier_value_as": "*",
              "rule_name": "user",
              "key": "X-User-Id",
              "strategy": "header"
            }
          ]
        },
        "validation/json-schema": {
          "type": "object",
          "required": [
            "contents"
          ],
          "properties": {
            "instructions": {
              "type": "string"
            },
            "contents": {
              "type": "string"
            }
          }
        },
        "auth/validator": {
          "alg": "RS256",
          "audience": [
            "playground"
          ],
          "jwk_url": "http://keycloak:8080/realms/krakend/protocol/openid-connect/certs",
          "disable_jwk_security": true,
          "propagate_claims": [
            [
              "email",
              "X-User-Id"
            ],
            [
              "position",
              "X-Position"
            ],
            [
              "given_name",
              "X-Name"
            ],
            [
              "locale",
              "X-Locale"
            ],
            [
              "resource_access.playground.roles",
              "X-Roles"
            ]
          ]
        }
      }
    },
    {
      "endpoint": "/rag/add",
      "method": "POST",
      "backend": [
        {
          "host": [
            "https://generativelanguage.googleapis.com"
          ],
          "url_pattern": "/v1beta/models/text-embedding-004:batchEmbedContents?$alt=json;enum-encoding=int&key={{ env "GEMINI_API_KEY" }}",
          "encoding": "no-op",
          "extra_config": {
            "modifier/request-body-generator": {
              "content_type": "application/json",
              "path": "/etc/krakend/templates/vendors/gemini/batch-embed.request.gemini.tmpl"
            }
          }
        },
        {
          "host": [
            "http://weaviate:9035"
          ],
          "url_pattern": "/v1/batch/objects",
          "is_collection": true,
          "extra_config": {
            "modifier/request-body-generator": {
              "content_type": "application/json",
              "path": "/etc/krakend/templates/vendors/vectordb/add-document.request.weaviate.tmpl"
            },
            "modifier/response-body-generator": {
              "content_type": "application/json",
              "path": "/etc/krakend/templates/vendors/vectordb/add-document.response.weaviate.tmpl"
            }
          }
        }
      ],
      "extra_config": {
        "proxy": {
          "sequential": true,
          "sequential_propagated_params": [
            "resp0"
          ]
        }
      }
    },
        {
      "endpoint": "/rag/query",
      "method": "POST",
      "backend": [
        {
          "host": [
            "https://generativelanguage.googleapis.com"
          ],
          "url_pattern": "/v1beta/models/text-embedding-004:embedContent?$alt=json;enum-encoding=int&key={{ env "GEMINI_API_KEY" }}",
          "encoding": "no-op",
          "extra_config": {
            "modifier/request-body-generator": {
              "content_type": "application/json",
              "path": "/etc/krakend/templates/vendors/gemini/embed.request.gemini.tmpl"
            }
          }
        },
        {
          "host": [
            "http://weaviate:9035"
          ],
          "url_pattern": "/v1/graphql",
          "encoding": "no-op",
          "extra_config": {
            "modifier/request-body-generator": {
              "content_type": "application/json",
              "path": "/etc/krakend/templates/vendors/vectordb/query.weaviate.tmpl"
            }
          }
        },
        {
          "url_pattern": "/v1beta/models/gemini-2.0-flash:generateContent?key={{ env "GEMINI_API_KEY" }}",
          "method": "POST",
          "host": [
              "https://generativelanguage.googleapis.com/"
          ],
          "extra_config": {
            "modifier/request-body-generator": {
              "content_type": "application/json",
              "path": "/etc/krakend/templates/vendors/gemini/generate-rag.request.gemini.tmpl"
            },
            "modifier/response-body-generator": {
              "content_type": "application/json",
              "path": "/etc/krakend/templates/vendors/gemini/generate.response.gemini.tmpl"
            },
            "telemetry/logging": {
              "custom_format": "{\"ts\":\"%{time:rfc3339}\", \"vendor\": \"gemini\", \"tokenUsage\": %{resp.usageMetadata.totalTokenCount}}\n"
            }
          }
        }
      ],
      "extra_config": {
        "proxy": {
          "sequential": true,
          "sequential_propagated_params": [
            "resp0",
            "resp1"
          ]
        }
      }
    }
  ],
  "extra_config": {
    "security/cors": {
      "allow_origins": [
        "*"
      ],
      "allow_methods": [
        "POST",
        "GET"
      ],
      "allow_headers": [
        "Origin",
        "Authorization",
        "Content-Type"
      ],
      "expose_headers": [
        "Content-Length"
      ],
      "max_age": "12h"
    },
    "telemetry/logging": {
      "access_log_format": "json",
      "level": "WARNING",
      "format": "logstash",
      "stdout": true
    },
    "redis": {
      "connection_pools": [
        {
          "name": "default",
          "address": "redis:6379"
        }
      ]
    },
    "governance/processors": {
      "quotas": [
        {
          "name": "llm",
          "connection_name": "default",
          "rejecter_cache": {
            "N": 10000000,
            "P": 1e-8,
            "hash_name": "optimal"
          },
          "rules": [
            {
              "name": "poweruser",
              "limits": [
                {
                  "amount": 10000,
                  "unit": "day"
                }
              ]
            },
            {
              "name": "user",
              "limits": [
                {
                  "amount": 5000,
                  "unit": "day"
                }
              ]
            }
          ]
        }
      ]
    }
  }
}