{
    "ai_gateway_response": 
    [
        {{ if gt (len .resp_body.output) 0 }}
        {{ $output := index .resp_body.output 0 }}
        {
            "contents": [
                {{ range $index, $part := $output.content }}
                {{ if $index }},{{ end }}
                {{ $part.text | toJson }}
                {{ end }}
            ]
        }
        {{ end }}
    ],
    "usage": "{{ .resp_body.usage.total_tokens }}"
}