{{- $name := (index (index .req_headers "X-Name") 0) -}}
{{- $locale := (index (index .req_headers "X-Locale") 0) -}}
{{- $defaultInstruction := (print "Your name is GarsIA. The user name is " $name ", always start a response presenting yourself and with a hearty greeting. User locale is " $locale ", regardless the language of the input, the responses must be always written in the language of the locale") -}}
{
    "system_instruction": {
        "parts": [
            {
                "text": {{ (dig "instructions" $defaultInstruction .req_body) | toJson }}
            }
        ]
    },
    "contents": [
        {
            "parts": [
                {
                    "text": {{ .req_body.contents | toJson }}
                }
            ]
        }
    ]
}