[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt = no # <--- This is required to fix OpenSSL output bug 
[ req_distinguished_name ]
countryName                 = ES
stateOrProvinceName         = CA
localityName               = Girona
organizationName           = ExamplesKrakend
commonName                 = seckafkabroker
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = localhost
DNS.2   = seckafkabroker
