{
    "model": "models/text-embedding-004",
    "content": {
        "parts": [
            {
                "text": {{ .req_body.content | toJson }}
            }
        ],
        "role": "user"
    }
}