global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode tcp
  timeout client 600s
  timeout connect 5s
  timeout server 600s
  timeout http-request 10s
  log global

frontend stats
  mode http
  bind *:8404
  stats enable
  stats uri /stats
  stats refresh 10s
  stats admin if LOCALHOST

# frontend
frontend redisfe
  bind :9001-9006
  use_backend redisbe1 if { dst_port 9001 }
  use_backend redisbe2 if { dst_port 9002 }
  use_backend redisbe3 if { dst_port 9003 }

# Server 1
backend redisbe1
  server be1 redis001:7001 check

# Server 2
backend redisbe2
  server be2 redis002:7002 check

# Server 3
backend redisbe3
  server be3 redis003:7003 check
