{
   "endpoint": "/test/admin",
  {{ include "input_headers.tmpl"}},
   "backend": [
   {
     "url_pattern": "/__debug",
     "extra_config": {
       {{ include "rate_limit_backend.tmpl"}}
     },
     "host": ["{{ .service.default_host }}"]
   }
   ]
 }
